html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
	color: gray;
	font-size: large;
}

#wrapper{}

#heading{text-align:center;
font-size: 2em;}

#content{text-align:center;
overflow: hidden;
display:inline-block;
float:left;
margin-left:3%;}

#form{ border:solid;
padding-top:4%;
padding-bottom:4%;}

#notice{text-align:center;
margin: 3%;
display: block;}

.item{padding: 10px;
text-align: justify;}

#tariff, #taxR, #init, #present{float: right;}

#info{padding-top:8%;
height:150px;
overflow-y:auto;}

label{font-size: 1.1em;}

#run{font-size: 1.1em;
color:steelblue;}

.unitDiff{text-align: justify;
font-size: 1.2em;}

.amount{text-align: right;
font-size: 1.2em;
margin-bottom:4%;}

#sumT{text-align: center;
font-size: 1.1em;
border-top: solid;
margin-bottom:5%;}

#chart{overflow: hidden;
display:inline-block;
margin-right: 5%;
margin-left: 3%;}

#chartTopic{margin-bottom:5%;
border-bottom: solid;
border-color:steelblue;
font-size: 1.2em;
margin-left: 30%;
display:inline-block;}

.bars{overflow: hidden;
display:table;}

.barLabel{text-align:center;
overflow: hidden;
display:inline-block;
float:left;
width: 50px;
padding-top: 10px;
padding-bottom: 10px;}

.outBar {
overflow: hidden;
border-right: solid;
float: left;
border-left: none;
border-top: none;
border-bottom: none;
border-color: steelblue;
padding: 4px;
transition-property:width;
transition-duration:2s;}

.inBar{display:inline-block;
height:2vw;
background-color:steelblue;

-webkit-transition: all 1s ease-in 1s;
	-moz-transition: all 1s ease-in 1s;
	-ms-transition: all 1s ease-in 1s;
	-o-transition: all 1s ease-in 1s;
	transition: all 2s ease-in 1s;}

.barPrcnt{overflow: hidden;
text-align:center;
float:left;
display:inline-block;
padding: 10px;}

@media only screen and (max-width: 400px){
#info{ height:200px;
}
.inBar{display:inline-block;
height:8px;
background-color:steelblue;

-webkit-transition: all 1s ease-in 1s;
	-moz-transition: all 1s ease-in 1s;
	-ms-transition: all 1s ease-in 1s;
	-o-transition: all 1s ease-in 1s;
	transition: all 2s ease-in 1s;}
}