
html,body{font-family:'Cantarell';
background-color:#008000;
color:#00FF7F;
}
#header{text-align:center;
background-color:#006400;
font-size:2em;
padding-top:25px;
padding-bottom:25px;
}
#form{float:left;
padding:15px;
}
#title{padding-top:15px;
padding-bottom:15px;
}
#titletext{font-size:1.2em;
padding-bottom:5px;
text-align:center;
}
#desc{text-align:center;
}
#description{font-size:1.0em;
background-color:#32CD32;
color:#006400;
}
#do{padding-bottom:15px;
}
#dodesc{font-size:1.2em;
padding-bottom:5px;
}
#doadd{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}
.doitem{
padding-bottom:5px;
}
#dont{padding-bottom:15px;
}
#dontdesc{font-size:1.2em;
padding-bottom:5px;
}
#dontadd{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}
.dontitem{
padding-bottom:5px;
}
#actions{text-align:center;

}
#analyse{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}
#reset{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}
.addbtn{padding-bottom:5px;
}
.reason{font-size:1.0em;
background-color:#32CD32;
color:#006400;
}
.rating{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}
.cancel{font-size:1.0em;
background-color:#008000;
color:#00FF7F;
}

#output{padding:15px;
text-align:center;
}
#microinfo{padding-bottom:15px;
font-size:1.5em;
}
.info{padding-bottom:15px;
font-size:1.5em;
}

@media only screen and (max-device-width: 400px){
#microinfo{padding-bottom:15px;
font-size:1.2em;
}
.info{padding-bottom:15px;
font-size:1.2em;
}
}